PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=desacare_db
DB_PORT=3306
DB_CONNECT_TIMEOUT=10000
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
JWT_SECRET=desacare_secret_key
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=desacare-upload-fachri
CLOUDFRONT_DOMAIN=d359gkva89ox7e.cloudfront.net
